/* Theme
-------------------------------------------------- */
:root {
    --gap: 1.5em; /*24px*/
    --gap-small: 0.416em; /*8px*/
    --content-gap: 20px; /*20px*/
    --nav-width: 100%;
    --main-width: 70%; /*70%*/
    --radius: 0.41664em; /*8px*/
    --border-width: 0.05208em; /*1px*/
    
    --theme: #D3D3D3;
    --content: rgb(0,43,85);
    --code-bg: #1c1d21;
    --hljs-bg: #1c1d21;
    --hljs-color: rgb(204,204,204);
    --font-size-classic: 0.888em;
    --font-size-menu: 1.33em;
    
}

@media screen and (max-width: 630px) {
    :root {
        --main-width: auto;
        --gap: 1em; /*14px*/
        
    }
}

.dark {
  --theme: rgb(0,0,139);
  --content: rgb(162,246,168);
  --code-bg: #00003B;
  --hljs-bg: #2e2e33;
  --hljs-color: rgb(204,204,204);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
