/* Main
-------------------------------------------------- */
.main {/*
    position: relative;/*
    min-height: 50vh;
    max-width: var(--main-width);
    margin: left;*/
    padding: var(--gap);
}
@media screen and (max-width: 400px) {
    .main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height) - 24px);
    }
}
.page-header {
    margin-bottom: 24px;
}
.page-header h1 {
    font-size: 40px;
}
/* Add css tricks
------------------------------------------------------------------------- */
.flex{
	display:flex;
}
.flex-even{
	flex:1 1;
}
.flex-wrap{
	flex-wrap:wrap;
}
.justify-between{
	justify-content:space-between;
}
.justify{
    text-align: justify;
}
.btn-right{
	float: right;
}
:target {
	margin-top: 25px;
}
.float-right{
    float:right;
}
/* Header
-------------------------------------------------- */
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--gap-height);
}
/** logo **/
.nav .logo {
    font-size: var(--font-size-menu);/*24px*/
    margin-left: var(--gap-width);
    display: flex;
    flex-wrap: inherit;
}
.nav .logo a {
    font-weight: 700;
}
.nav .logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    border-radius: var(--radius);
    width: 1.33vw;
    height: 1.33vw;
}
.nav .logo a:hover {
  transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  -webkit-transform:rotate(25deg);
}
/*** theme-toggle ***/
.nav .logo .theme-toggle {
    margin-left: var(--gap-width); /*gap 24px */
    display: inline;
    vertical-align: middle;
    cursor: pointer;
    width: 1.33vw;
    height: 1.33vw;
}
.nav .logo .theme-toggle:hover{
  transform:rotate(-25deg);
  -ms-transform:rotate(-25deg);
  -webkit-transform:rotate(-25deg);
}
.nav .logo .theme-toggle svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;

}

body.dark #moon {
    vertical-align: middle;
    display: none;
}
body:not(.dark) #sun {
    display: none;
}

/** menu **/
.nav .menu {
    font-size: var(--font-size-menu);
    display: flex;
    flex-wrap: inherit;
    list-style: none;
}
.nav .menu li{
    margin-left: var(--gap-width);
    vertical-align: middle;
    text-align: center;
}
.nav .menu li a {
    vertical-align: middle;
}
.nav .menu a:hover{
    font-weight: bold;
    color: var(--content);
}
.nav .menu li a .active {
    font-weight: 500;
    border-bottom: calc(var(--border-width)*2) solid currentColor;
}

/* Footer
-------------------------------------------------- */
.footer {
    margin-top: var(--gap-height); /*8px*/
    margin-bottom: var(--gap-height); /*8px*/
    color: var(--content);
    font-size: var(--font-size-classic); /*14px*/
}
.footer span {
    margin-left: var(--gap-width); /*24px*/
}
.footer a {
    color: inherit;
    border-bottom: var(--border-width) solid var(--content);
}
.footer a:hover {
    font-weight: bolder;
}
.tl2{
    cursor: pointer;
}
.tl2:hover {
    font-weight: bolder;
}

/* Bouton Haut de page
---------------------------------------------------------------------------*/
.top-link {
    font-size: var(--font-size-classic); /*14px;*/
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 7.453vh; /*60px*/
    right: 1.562vw; /*30px*/
    z-index: 99;
    background: var(--content);
    width: 2.18vw; /*42px 2.18*/
    height: 2.18vw; /*42px*/
    padding: var(--radius); /*12px;*/
    color: var(--theme);
    border-radius: calc(var(--radius)*8); /*64px;*/
    fill: currentColor;
    fill-opacity: 80%;
    transition: visibility 0.5s,
    opacity 0.8s linear;
        display: inline;
    vertical-align: middle;
    cursor: pointer;
}
.top-link svg{
    width: 1.33vw;
    height: auto;
}
.top-link:hover{
    width: 2.5vw; /*48px*/
    height: 2.5vw;
    padding: var(--radius);
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}
/* Mobile
----------------------------------------------------- */
@media screen and (max-width: 500px) {
    .top-link {
      /*bottom: 110px;*/
    }
}
